* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    background-color: #1e1e1e;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #1e1e1e;
    z-index: 99;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #4f9cff;
}

.logo span {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}


.container_flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;
    background-color: #ffffff;
}

.prod {
    background-color: #4f9cff;
    height: 150px;
    width: 220px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: space-around;
}

.comprar,
.deletar {
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    width: 90px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.comprar {
    background-color: #003366;
    color: #fff;
}

.deletar {
    background-color: #ff5e5e;
    color: #fff;
}

.comprar:hover,
.deletar:hover {
    transform: scale(1.05);
    opacity: 0.9;
}



